.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.checkoutProduct-image {
  height: 180px;
  width: 180px;
  max-width: 180px;
  object-fit: contain;
  margin-bottom: 20px;
}

.checkoutProduct-info {
  padding-left: 20px;
}

.checkoutProduct-info-title {
  font-size: 17px;
  font-weight: 500;
}

.checkoutProduct-info-price {
  margin-top: 5px;
}

.checkoutProduct-info-rating {
  display: flex;
}

.checkoutProduct-info > button {
  background: transparent;
  border: none;
  margin-top: 5px;
  color: rgb(52, 122, 214);
  cursor: pointer;
}