.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-top {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
}

.header-logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header-search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header-search-input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header-search-icon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-nav > a {
  text-decoration: none;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}


.header-option-1 {
  font-size: 10px;
  text-overflow: clip;
}

.header-option-2 {
  font-size: 13px;
  font-weight: 700;
}

.header-option-basket {
  display: flex;
  align-items: center;
  color: white;
}

.header-option-basketCount {
  margin: 0 10px;
}

.header-bottom {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #232F3E;
  justify-content: flex-start;
  color: white;
}

.header-bottom > p {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.header-bottom > .header-bottom-first {
  margin-left: 15px;
}

.header-bottom p:hover {
  border: 1px solid white;
  border-radius: 5px;
}


